<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Walmart_OMS.Properties.Settings.Walmart_OMSConnectionString"
            connectionString="Data Source=HANSANA-3501;Initial Catalog=Walmart_OMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Walmart_OMS.Properties.Settings.WalmartOMS_DBConnectionString"
            connectionString="Data Source=HANSANA-3501;Initial Catalog=WalmartOMS_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>